/* style.css */
body {
    font-family: sans-serif;
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.login-container, .signup-container {
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.35);
    padding: 20px;
    width: 300px;
    text-align: center;
}

.login-container h1, .signup-container h1 {
    margin-bottom: 20px;
}

.login-container input, .signup-container input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-container button, .signup-container button {
    width: 95%;
    padding: 10px;
    background-color: #512da8;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.login-container button:hover, .signup-container button:hover {
    background-color: #3d1a7d;
}

a {
    text-decoration: none;
    color: #512da8;
}
